<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alchef.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
				<key>dateExpires</key>
				<string>09/01/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5F66E30E9837B604DF612BB9C766926BCB5A0BC</string>
						<key>dateExpires</key>
						<string>09/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GRC65G6P4</string>
						<key>name</key>
						<string>Balaravayan Paranjothi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8GRC65G6P4.com.smart.alchef</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8GRC65G6P4</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>29ae261e-1be3-4786-a3dd-5735ff84150a</string>
				<key>dateExpires</key>
				<string>04/05/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.smart.alchef</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8GRC65G6P4</string>
				<key>name</key>
				<string>Balaravayan Paranjothi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
